.castomers-section {
    max-width: 100%;
    width: 1280px;
    background-color: #fff;
    background-image: url(/images/background-img-yelow.jpg);
}

.castomers-title {
color:  #2C2C2C;
    font-family: Roboto;
    font-size: 42px;
    font-weight: 700;
    margin: 100px 763px 20px 16px;
}

.list-rewiew {
background-color: #fff;
}

.rewiews {

}

.name-castomers {

}